@use "../variables/index.scss" as vars;
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-inria-serif);
	color: vars.$text-header-1;

	& span {
		color: inherit;
		font-family: inherit;
	}

	font-size: 1em;

	&:is(h2) {
		font-size: 3em;
	}
	&:is(h3) {
		font-size: 1.5em;
	}
}

h3,
h4,
h5,
h6 {
	color: vars.$text-header-2;
}

p,
a,
li,
button,
span {
	color: vars.$text-light;
	font-family: var(--font-inter);
	font-weight: 300;
}

a {
	text-decoration: underline dashed;
	&:hover {
		color: vars.$text-selected;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 85%;
	}
	h2 {
		font-size: 1.7em;
	}
	h3,
	h4,
	h5,
	h6 {
		font-size: 1em;
	}
	p,
	a,
	li,
	button,
	span {
		font-size: 1em;
	}
}
